*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #F4F6F0;
}
.main{
    width: 100%;
    height: 100vh;
}
.header{
    width: 100%;
    height: 100px;
    /* background: #4698c7; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-nav img{
    width: 60px;
    margin: 0 0 0 40px;
    cursor: pointer;
    mix-blend-mode: multiply;
}
.center-nav ul li{
    display: inline-block;
    align-items: center;
    margin: 25px;
}
.center-nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.btn-bg{
    background: #D0E9A4;
    margin: 0 40px 0 0;
    border-radius: 5px;
}
.right-nav button{
    padding: 15px 35px;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    background: #ffff;
    color: #000;
}
.body{
    width: 100%;
    height: calc(100vh - 100px);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}
.left-body{
    width: 40%;
    height: 100%;
    padding: 50px 20px 0 30px;
    margin-left: 90px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    /* background: #4a2020; */
}
.h5{
    font-size: 15px;
    font-weight: 300;
    background: #D0E9A4;
    margin-bottom: 20px;
    padding: 7px 10px;
    border-radius: 20px;
}
.main-text{
    width: 80%;
    font-size: 30px;
    font-weight: 300;
}
.text-para{
    font-size: 16px;
    font-weight: 200;
    color: rgb(113, 109, 109);
    width: 60%;
    margin-top: 20px;
}
.body-btn{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.btn-bg2{
    background: #D0E9A4;
    margin-top: 20px;
    border-radius: 5px;

}
.btn1{
    padding: 10px 25px;
    border: 1px solid black;
    border-radius: 30px;
    background: #ffff;
    color: #000;
    cursor: pointer;
}
.body-btn a{
    margin-top: 20px;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 200;
    color: #000;
    text-decoration: none;
}
.left-body .p{
    font-size: 18px;
    font-weight: 200;
    color: rgb(107, 106, 106);
    margin-top: 70px;
    text-transform: uppercase;
    cursor: pointer;
}
.right-body{
    width: 400px;
    height: 500px;
    background: #C2EF76;
    border-radius: 20px;
    margin-left: 170px;
    position: relative;
}
.card-bg{
    width: 270px;
    height: 400px;
    background: #ffffff;
    border-radius: 20px;
    position: absolute;
    right: 30px;
    top: -50px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.add-btn{
    position: absolute;
    right: 25px;
    top: 25px;
    background: #a03333;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.add-btn p{
    cursor: pointer;
    color: #F4F6F0;
    width: 15px;
    font-weight: 600;

}
.card-bg img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}
.title{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title p{
    font-size: 14px;
    margin-top: 10px;
    color: rgb(159, 159, 159);
    margin-bottom: 10px;
}
.box{

    width: 120px;
    height: 50px;
    background: #000;
    border-radius: 30px;
    position: absolute;
    bottom: -10px;
}
.card-bg2{
    width: 270px;
    height: 400px;
    background-image: url(Img/img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    position: absolute;
    left: -50px;
    bottom: 30px;
}
.design{
    position: absolute;
    bottom: -70px;
    right: -90px;
}
.design img{
    width: 250px;
}
